#export PLAN98_WAS_HOST=https://storage.bengo.is
export PLAN98_WAS_HOST=http://localhost:8080

export PLAN98_SPACE_ID=bbafbeae-eeee-eeee-eeee-eeeeeeefbeef
export PLAN98_SIGNER={"type":"Ed25519VerificationKey2020","controller":"did:key:z6Mkr6h9yrB33EZMquqc2sWgfVNKuf1McScqqFKjccYnQ3m2","publicKeyMultibase":"z6Mkr6h9yrB33EZMquqc2sWgfVNKuf1McScqqFKjccYnQ3m2","privateKeyMultibase":"zrv42zX2tskp26s5jo9cXzTTqdck9hu2feUUSftF58hZCieeXkdPkbx71QpHfXA8cooo9MeWadmKFNVbMy7Pwjafka4"}

export PLAN98_REALTIME=https://realtime.sillyz.computer


#export BRAID_TEXT_PROXY="https://braid-text.1998.social"
export BRAID_TEXT_PROXY="http://localhost:9208"

export PROTOMAPS_API_KEY="4b453657cf0a9f1f"

export VAULT_APP_ID="9f6b84328cc3470e8ec22b894ee6c630"
export VAULT_APP_SECRET="aad614cb2b52410587cf697529642b5e"
export VAULT_APP_SALT="YuEK3aYHLXdmttm3c+y5TESAuu9xlIpVF8eCDn3aL5M="
export VAULT_BASE_URL="https://sandbox.digilockbox.com/"
export VAULT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----,MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEyoXShn1ZiRaRXPW4b+tVsA76+5ykCf6R,Hy17+mpQYgLrsJL1h4rKBUHwhvWEQ24YuLKToQEbpCkuj0YSLNiE5C36tq+lvnp3,N93DtCYx+HTVxy9wJOLQDtOmfOMS2/2g,-----END PUBLIC KEY-----,"

export SUPABASE_URL="https://htmmvfxbbwpxifkfwlfo.supabase.co"
export SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh0bW12ZnhiYndweGlma2Z3bGZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY1MjU3MDMsImV4cCI6MjA1MjEwMTcwM30.rmcFyucwAM-dFD0KpFqd8rrCwam1LdMEuCmtQxHCxO4"


export ROWS_N_COLUMNS_LICENSE_KEY=""
