body {
  margin: 0 auto;
}

saga-genesis {
  background: black;
  color: white;
}

saga-genesis > xml-html {
}

img,
video {
  max-width: 100%;
  max-height: 50vh;
}

saga-genesis hypertext-action {
  padding: 0 1rem;
  max-width: 720px;
  margin: 1rem auto;
}

saga-genesis hypertext-address {
  max-width: 720px;
}
saga-genesis hypertext-address {
  max-width: 720px;
  padding: 0 1rem;
  margin: 1rem auto;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 1000;
  text-transform: none;
}

saga-genesis hypertext-quote {
  max-width: 480px;
  margin: 1rem auto;
  padding: 0 1rem;
}

saga-genesis qr-pay {
  padding: 1rem;
}

saga-genesis action-script {
  max-width: 280px;
  margin: 1rem auto;
}

main saga-genesis > xml-html {
  margin-bottom: 6rem;
  min-height: 100%;
  height: auto;
}
