body {
  margin: 0 auto;
}

saga-genesis {
  background: black;
  color: white;
}

saga-genesis xml-html {
  max-width: 6in;
  margin: auto;
  padding: .5rem;
}

img,
video {
  max-width: 100%;
  max-height: 50vh;
}
