html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
  background: linear-gradient(135deg, transparent, rebeccapurple), black;
}

[pathname="/"] #main {
  padding-top: 25vh;
}

img,
video {
  max-width: 100%;
  max-height: 50vh;
}

body > sillonious-brand,
sillinous-brand > saga-genesis,
saga-genesis > sillonious-memex {
  height: 100%;
}
