html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
}

body:not([pathname="/"]) > sillonious-brand > saga-genesis > xml-html {
  max-width: 6in;
  margin: auto;
  padding: 1in 1rem;
}

[pathname="/"] #main {
  padding-top: 25vh;
  background: white;
}

img,
video {
  max-width: 100%;
}

body > sillonious-brand,
sillinous-brand > saga-genesis,
saga-genesis > sillonious-memex {
  height: 100%;
}

body wizard-journey.active {
  inset: 0;
  background: rgba(0,0,0,1);
  max-height: 100%;
  max-width: 100%;
}

body data-tooltip {
  height: 100%;
}

body wizard-journey xml-html {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 2rem 1rem;
}

mast-head img {
  max-width: 100vmin;
  max-height: 100vmin;
  display: block;
}
