html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin: 0 auto;
  --theme: white;
}

[pathname="/"] #main {
  padding-top: 25vh;
  background: white;
}

main {
  position: relative;
}

img,
video {
  max-width: 100%;
}
