body {
  margin: 0 auto;
  overflow: auto;
  color: rgba(0,0,0,.85);
}

sillonious-brand > xml-html {
  overflow: auto;
}

sillonious-brand {
  --chroma-key: gold;
}

img,
video {
  max-width: 100%;
}

@media screen {
  main > xml-html {
    min-height: 100%;
  }
}

header {
  padding-top: 2rem;
}

header mast-head {
  position: relative;
  aspect-ratio: 16 / 9;
}

header mast-head img {
  position: absolute;
  right: 0;
  bottom: 0;
}

nav {
  background: black;
  color: white;
}

main {
  background: white;
  color: rgba(0,0,0,.85);
  padding: 1rem 0;
}

sillonious-brand > main {
  height: auto;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover,
nav a:focus {
  color: gold;
}

main chroma-ratio {
  height: 100vh;
}
